# Data Wrangling Exercises
Throughout the exercises for Regression in Python lessons, you will use the following example scenario: As a customer analyst, I want to know who has spent the most money with us over their lifetime. I have monthly charges and tenure, so I think I will be able to use those two attributes as features to estimate total_charges. I need to do this within an average of $5.00 per customer.

In [1]:
# import modules
import acquire
import prepare
import wrangle

# import python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## The first step will be to acquire and prep the data. Do your work for this exercise in a file named wrangle.py.

### Sample and summarize

In [2]:
# acquire the telco churn raw data
df = acquire.get_churn_data()

In [3]:
# take a look transposed to see all columns
df.head(1).T

                                       0
customer_id                   0003-MKNFE
gender                              Male
senior_citizen                         0
partner                               No
dependents                            No
tenure                                 9
phone_service                        Yes
multiple_lines                       Yes
internet_service_type_id               1
online_security                       No
online_backup                         No
device_protection                     No
tech_support                          No
streaming_tv                          No
streaming_movies                     Yes
contract_type_id                       1
paperless_billing                     No
payment_type_id                        2
monthly_charges                     59.9
total_charges                      542.4
churn                                 No
contract_type             Month-to-month
payment_type                Mailed check
internet_service_type                DSL

In [4]:
# how big is the data?
df.shape

(7043, 24)

In [5]:
# how are the numeric features spread?
# most customers are...
# not seniors, 
# stay for 32 months (stddev of 25!),
# pay 64/month (stddev of 20$)
df.describe()

,senior_citizen,tenure,internet_service_type_id,contract_type_id,payment_type_id,monthly_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.162147,32.371149,1.872923,1.690473,2.315633,64.761692
std,0.368612,24.559481,0.737796,0.833755,1.148907,30.090047
min,0.000000,0.000000,1.000000,1.000000,1.000000,18.250000
25%,0.000000,9.000000,1.000000,1.000000,1.000000,35.500000
50%,0.000000,29.000000,2.000000,1.000000,2.000000,70.350000
75%,0.000000,55.000000,2.000000,2.000000,3.000000,89.850000
max,1.000000,72.000000,3.000000,3.000000,4.000000,118.750000

In [6]:
# data types are mostly objects(strings) not numeric data we can use
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               7043 non-null   object
 1   gender                    7043 non-null   object
 2   senior_citizen            7043 non-null   int64
 3   partner                   7043 non-null   object
 4   dependents                7043 non-null   object
 5   tenure                    7043 non-null   int64
 6   phone_service             7043 non-null   object
 7   multiple_lines            7043 non-null   object
 8   internet_service_type_id  7043 non-null   int64
 9   online_security           7043 non-null   object
 10  online_backup             7043 non-null   object
 11  device_protection         7043 non-null   object
 12  tech_support              7043 non-null   object
 13  streaming_tv              7043 non-null   object
 14  streaming_movies          7043 non-null   object
 15  contract_type_id          7043 non-null   int64
 16  paperless_billing         7043 non-null   object
 17  payment_type_id           7043 non-null   int64
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  payment_type              7043 non-null   object
 23  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [7]:
# Updated prepare function from project, no longer joining all tables
# can use the id numbers from the foriegn keys
df = prepare.prep_telco_df(df)

No duplicates found.
Dummy variables for gender created as "male".
Yes/No column values changed to boolean, 0 as no and 1 as yes
Combined variable for phone_service + multiple lines created.
Combined variable for partner + dependents created.
Simplified features: security, backup, protection, support, contract, internet type, and payment type.
Column for service type added.
Added feature for tenure in years.
Converted total_charges to float for easier manipulation.
Data prep complete.

## Acquire customer_id, monthly_charges, tenure, and total_charges from telco_churn database for all customers with a 2 year contract.

In [8]:
# first creates a df of only 2 year contracts
# df.contract_type == 2
# selects only columns needed with [['columns']]
df = df[df.contract_type == 2][['customer_id','monthly_charges','tenure_months','total_charges']]

## Walk through the steps above using your new dataframe. You may handle the missing values however you feel is appropriate.

In [9]:
# prepare replaced nulls in total_charges with 0 in prepare function
# from nulls in total_charges from customers who have not been 
for x in df.columns:
    print(x)
    print(df[x].isnull().sum())

customer_id
0
monthly_charges
0
tenure_months
0
total_charges
0

In [10]:
# new feature calculated total charges by multiplying months by monthly charges
df['calc_total_charges'] = df.monthly_charges * df.tenure_months

In [11]:
# calculating the difference of actual and calculated
df['calc_difference'] = df.total_charges - df.calc_total_charges

In [12]:
# calculated total charges is mostly accurate, only of by an average of $0.17
df.calc_difference.mean()

0.1746607669616398

## End with a python file wrangle.py that contains the function, wrangle_telco(), that will acquire the data and return a dataframe cleaned with no missing values.

In [13]:
# combining acquire, prepare into one module wrangle
wrangle_df = wrangle.prep_telco_df()

No duplicates found.
Dummy variables for gender created as "male".
Yes/No column values changed to boolean, 0 as no and 1 as yes
Combined variable for phone_service + multiple lines created.
Combined variable for partner + dependents created.
Simplified features: security, backup, protection, support, and payment type.
Column for service type added.
Added feature for tenure in years.
Converted total_charges to float for easier manipulation.
Data prep complete.

In [14]:
# checking function works
wrangle_df.head().T

,0,1,2,3,4
customer_id,0003-MKNFE,0013-MHZWF,0015-UOCOJ,0023-HGHWL,0032-PGELS
senior_citizen,0,0,1,1,0
tenure_months,9,9,7,1,1
phone_service,2,1,1,0,0
internet_service_type_id,1,1,1,1,1
online_security,0,0,1,0,1
online_backup,0,0,0,0,0
device_protection,0,0,0,0,0
tech_support,0,1,0,0,0
streaming_tv,0,1,0,0,0
streaming_movies,1,1,0,0,0
contract_type_id,1,1,1,1,1
paperless_billing,0,1,1,1,0
auto_payment,0,1,0,0,1
monthly_charges,59.9,69.4,48.2,25.1,30.5
total_charges,542.4,571.45,340.35,25.1,30.5
churn,0,0,0,1,1
contract_type,0,0,0,0,0
Male,1,0,0,1,0
part_depd,0,1,0,0,2
service_type,3,3,3,2,2
tenure_years,0.75,0.75,0.58,0.08,0.08